- name: Configure nginx 
  hosts: webservers
  become: true
  vars:
     nginx_port: 80
  tasks:
    - name: install nginx 
      apt: 
        name: nginx
        state: present 
        update_cache: yes
    - name: copy nginx config 
      template: 
         src: configs/nginx.conf.j2
         dest: /etc/nginx/nginx.conf   
      notify: Restart nginx       
  handlers:
    - name: Restart nginx 
      service:
        name: nginx 
        state: restarted     