- name: Configure nginx 
  hosts: all
  become: true
  vars:
     nginx_port: 80
  tasks:
    - name: install nginx 
      apt: 
        name: nginx
        state: present 
        update_cache: yes
    - name: nginx config for web
      template: 
         src: configs/nginx.conf.j2
         dest: /etc/nginx/nginx.conf   
      notify: Restart nginx    
      when: inventory_hostname in groups['webservers']   
    - name: nginx config for lb
      template: 
         src: configs/nginx-lb.conf.j2
         dest: /etc/nginx/nginx.conf   
      notify: Restart nginx    
      when: inventory_hostname in groups['nginx']   
  handlers:
    - name: Restart nginx 
      service:
        name: nginx 
        state: restarted   